<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>With over 16 years of dedicated experience in offensive security, our team has honed their skills in identifying
          and exploiting vulnerabilities to help organizations strengthen their defenses. The extensive background
          of our team spans both the public and private sectors, having conducted comprehensive offensive security
          assessments for more than 9 years including red team, penetration testing, purple teaming, and application security assessments.</p>
      </div>
      <div class="col-lg-4">
        <p>Our assessors hold esteemed certifications including the Offensive Security Certified Professional (OSCP),
          Offensive Security Certified Expert (OSCE), and GIAC Reverse Engineering Malware (GREM),
          which underscore their technical expertise and commitment to excellence. We are dedicated to providing
          the highest quality of service to our clients, and we are proud to have built a reputation for delivering exceptional results.
        </p>
      </div>
    </div>
  </div>
</section>
